/* css-2.css 
   Stacy Bridges
   asg10 
*/
body {
	font-family: "Arial", sans-serif;
	text-align: center;
}
header{
    position:relative;
    top:-10px;
}
#mainDiv{
    width:900px;
    margin: 0 auto;
    text-align:left;
}
#topMenu{
    position:relative;
    top:-60px;
    left:400px;
    color:white;
}
#topMenu a{
    text-decoration:none;
    color:white;
}
#topMenu a:hover{
    color:rgb(51, 51, 51);
    background-color:white;
}
#ribbonDiv{
    text-align:center;
    color:white;
    background-color:rgb(124, 124, 124);
    width:150px;
    height:180px;
    position:relative;
    top:-114px;
    left:20px;
}
#leftMenu{
    position:relative;
    left:20px;
    top:-60px;
    width:160px;
    float:left;
}
#leftMenu li{
    height:24px;
}
#leftMenu a{
    text-decoration:none;
}
#leftMenu ul{
    position:relative;
    list-style-type:none;
    left:-42px;
    width:150px;
}
#leftMenu a:hover,li:hover{
    color:white;
    background-color:rgb(124, 124, 124);
}
#formDiv{
    border-left:1px solid rgb(124, 124, 124);
    position:relative;
    left:300px;
    top:-109px;
    float:left;
    width:720px;

      
    /*--add a linear gradient with linear-gradient(starting position, from color, to color)--*/
    /*-- here, 'transparent' replaces a color so as to merge the gradient with the background --*/
    background: -webkit-linear-gradient(right, transparent, #FFFFCC);
    background: -moz-linear-gradient(top, transparent, #FFFFCC);
    background: -ms-linear-gradient(bottom right, transparent, #FFFFCC);
}
form{
    width: 300px;
}
#article1{
    position:relative;
    left:-100px;
}
footer{
    text-align:center;
    background-image:url("images/border.jpg");
    height:60px;
    color:white;
    position:relative;
    top:500px;    
}
td {
    padding: 16px 18px 0px 0px;
}
td:first-child {
    vertical-align: top;
    text-align: right;
}
form {
    position: relative;
    left: 10%;
}
.formBox{
    width:150%;
}
.formArea{
    width:150%;
    height:150px;
}
.submitButton {
    text-align: left;
}
.outputTable td {
    position: relative;
    left: 15%;
    text-align: left;
    border: 1px solid gray;
    width:200px;
    background-color: white;
}